---
import Section from "@/components/Section.astro"
import { education } from '@cv'

import { formatDate } from '@/js/Functions'

---

<Section title="Educación">
    <ul class="list">
    {
        education.map(({ institution, url, area, studyType, startDate, endDate, specialty }) => {
            return (
                <li>
                    <article>
                        <header>
                            <div>
                                <h3>{ url !== "" ? <a href={ url } target="_blank" title={ `Visitar sitio web de ${ institution }` }>{ institution }</a> : institution }</h3>    
                                <h4>{ studyType } en { area } con especialidad en { specialty }</h4>
                            </div>
                            <time>{ formatDate(startDate, false, true) } - { formatDate(endDate, false, true) }</time>
                        </header>
                    </article>    
                </li>
            )
        })
    }
    </ul>
</Section>

<style>
	@media screen and (max-width: 1024px) {
		.list li article header {
			display: block;
		}
	}
</style>