---
import Layout from '../layouts/Layout.astro'
import Hero from '@/components/sections/Hero.astro'
import About from '@/components/sections/About.astro'
import Experience from '@/components/sections/Experience.astro'
import Education from '@/components/sections/Education.astro'
import Skills from '@/components/sections/Skills.astro'
import Certificates from '@/components/sections/Certificates.astro'
import Projects from '@/components/sections/Projects.astro'

import { basics } from '@cv'
---

<Layout title={`Curriculum de ${basics.name} - ${basics.position}`}>
	<div class="container">
		<Hero />
		<About />
		<Experience />
		<Education />
		<Skills />
		<Certificates />
		<Projects />
	</div>
</Layout>